userdir
/projects/ComputerExporter/target/
/projects/AdapterTools/target/
/projects/TicTacToe/target/
/projects/AndroidDeviceExporter/gen/
/projects/AndroidDeviceExporter/nbandroid/
/projects/AndroidDeviceExporter/bin/
/projects/AdditionalModules/target/