/omiscidgui/
/userdir/
/webpage/data/
/projects/ComputerExporter/target/
/projects/AdapterTools/target/
/projects/AdapterFramework/target/
/projects/TicTacToe/target/
/projects/AndroidDeviceExporter/gen/
/projects/AndroidDeviceExporter/nbandroid/
/projects/AndroidDeviceExporter/bin/
/projects/AdditionalModules/target/
/projects/MagicSnake/target/
/lib/*.jar
/all-jars-and-dependencies.zip
/omiscidgui-with-userdir.zip

